doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title= titles
		link(rel="stylesheet", href="/styles/style.css")
		blokck headerLinks

	body
		div.container.container-fluid
		block content
		block footer
		